/Library
/Logs
/Packages
/Temp
/UserSettings
*.meta
*.cs.meta
*.exe
/Build
/Assets/_TerrainAutoUpgrade
/Assets/ExampleAssets
/Assets/Fantasy Forest Environment Free Sample
/Assets/Thirdparty
/Assets/TutorialInfo